<script id="beautycenter-subdirections" type="text/x-handlebars-template">
    <div class="direction-menu">
        <div class="col-lg-3">
            <div class="menu-item" data-direction="hairdresserd">
                <h5 class="item-title">Парикмахерский зал</h5>
                <ul class="item-ul">
                    <li>стрижки</li>
                    <li>укладки</li>
                    <li>окрашивание</li>
                    <li>уход за волосами</li>
                </ul>
                <img src="img/hairdresser.png" class="img img-responsive item-img"/>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="menu-item" data-direction="nailservice">
                <h5 class="item-title">Ногтевой сервис</h5>
                <ul class="item-ul">
                    <li>маникюр</li>
                    <li>педикюр</li>
                    <li>наращивание ногтей</li>
                    <li>spa-уходы</li>
                </ul>
                <img src="img/nailservice.png" class="img img-responsive item-img"/>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="menu-item" data-direction="eyelash">
                <h5 class="item-title">Наращивание ресниц</h5>
                <ul class="item-ul">
                    <li>поресничковое наращивание</li>
                    <li>ламинирование ресниц</li>
                </ul>
                <img src="img/eyelash.png" class="img img-responsive item-img"/>
            </div>
        </div>
        <div class="col-lg-3" data-direction="makeup">
            <div class="menu-item">
                <h5 class="item-title">Визаж</h5>
                <ul class="item-ul"></ul>
                <img src="img/makeup.png" class="img img-responsive item-img"/>
            </div>
        </div>
    </div>
</script>