<script type="text/x-handlebars-template">
    <div class="col-lg-12 col-lg-offset-2">
        <div class="complete-page text-center">
            <img src="img/complete.png" class="img img-responsive" />
        </div>
    </div>
</script>