<script id="directions" type="text/x-handlebars-template">
    <div class="direction-menu">
    <div class="col-lg-2">
        <div class="menu-item" data-direction="stomatology">
            <h5 class="item-title">Клиника стоматологии и имплантологии</h5>
            <h6 class="item-note">для детей и взрослых</h6>
            <ul class="item-ul">
                <li>имплантология</li>
                <li>ортодонтия</li>
                <li>ортопедия</li>
                <li>терапия</li>
                <li>хирургия</li>
            </ul>
            <img src="img/stomatology.png" class="img img-responsive item-img"/>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="menu-item" data-direction="cosmetology">
            <h5 class="item-title">Клиника косметологии и дерматологии</h5>
            <ul class="item-ul">
                <li>аппаратная</li>
                <li>терапевтическая</li>
                <li>иньекционная</li>
            </ul>
            <img src="img/cosmetology.png" class="img img-responsive item-img"/>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="menu-item" data-direction="bodyestethic">
            <h5 class="item-title">Эстетика тела</h5>
            <ul class="item-ul">
                <li>лечебный массаж</li>
                <li>аппаратный массаж</li>
                <li>SPA программы</li>
                <li>обертывания</li>
            </ul>
            <img src="img/bodyestethic.png" class="img img-responsive item-img"/>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="menu-item beautycenter" data-direction="">
            <h5 class="item-title">Центр красоты и здоровья</h5>
            <ul class="item-ul">
                <li>парикмахерский зал</li>
                <li>ногтевой сервис</li>
                <li>наращивание ресниц</li>
                <li>архитектура бровей</li>
                <li>свадебный стилист на дом</li>
            </ul>
            <img src="img/beautycenter.png" class="img img-responsive item-img"/>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="menu-item" data-direction="kidscenter">
            <h5 class="item-title">Детский центр развития и творчества</h5>
            <ul class="item-ul" >
                <li>развивающие занятия</li>
                <li>подготовка к школе</li>
                <li>подготовка к ЕГЭ и ГИА</li>
                <li>карате, йога и арт студия</li>
                <li>логопед</li>
                <li>иностранные языки</li>
            </ul>
            <img src="img/kidscenter.png" class="img img-responsive item-img"/>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="menu-item" data-direction="selfcenter">
            <h5 class="item-title">Центр саморазвития и самопознания</h5>
            <h6 class="item-note">для детей и взрослых</h6>
            <ul class="item-ul">
                <li>психолог</li>
                <li>йога</li>
            </ul>
            <img src="img/selfcenter.png" class="img img-responsive item-img"/>
        </div>
    </div>
</div>
</script>