<script id="layout" type="text/x-handlebars-template">
    <div class="monoblock container-fluid">
        <div class="monoblock-header row">
            <div class="col-lg-3">
                <a href="#/">
                    <img src="img/logo.png" class="monoblock-logo img"/>
                </a>
            </div>
            <div class="col-lg-9">
                <h1 class="monoblock-page-title">{{title}}</h1><br>
                <h3 class="monoblock-page-subtitle">{{subtitle}}</h3>
            </div>
        </div>
        <div class="monoblock-content row">
            <!-- Main content here -->
        </div>
    </div>
</script>

